{% extends "strava/base.html" %}

{% block title %}Vaporfly & Strava{% endblock %}

{% block body_title %}
<h1>The Effect of Nike Vaporfly 4% Shoes on Running Performance
</h1>
{% endblock %}

{% block body_main %}
<p>Our project aims to do an analysis on running data before and after the release of Nike’s now controversial Vaporfly 4% sneakers. Marketed as increasing running economy by 4% for the wearer, there is now ongoing debate over whether these shoes should be allowed in the professional running sphere, largely in response to the number of records being broken since Vaporfly’s release in 2017.</p>

<p>During a Nike event dedicated to breaking the two hour mark, Eliud Kipchoge ran 26.2 miles in an astonishing 1:59:40, with only the assistance of professional pacesetters and more importantly to our analysis, the Nike Vaporfly 4%’s. Although this feat will not be taken as a world record given the controlled conditions, one record that will be on the books was one set by Brigid Kosgei. She ran the Chicago Marathon in 2:14:04, breaking the women’s marathon record that had not been touched since 2003 by over a minute. She was also wearing the Nike Vaporfly’s. Although these amazing performances do not warrant an investigation into the shoe on their own, they do indicate that the Vaporfly might be the next wave in the world of professional long-distance running.</p>

<p>Some studies of the Vaporfly have already been done, and we want to contribute our own analysis, inspired by <a href="https://www.nytimes.com/interactive/2018/07/18/upshot/nike-vaporfly-shoe-strava.html" target="_blank">this New York Times study from 2018</a>. The article uses data from an app called Strava,where runners can share information on their workouts and runs, including the time and distance they ran, and most importantly what shoes they were wearing. We have scraped the information from this website as well as from Marathon Guide, a site that compiles official marathon results that are often more accurate than Strava’s. Using record linkage, we matched these individual results to compile one database with information from over 15 different races.</p>

<p>With all of this being said, the last step of our analysis can not be done with you! Input your own stats and we can help you predict just how much faster you would be running if you put on a pair of Nike Vaporfly 4%’s! (Warning: 3+1 is not responsible for the $250 you might be tempted to spend on these shoes as the result of your results)</p>
{% endblock %}

